@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v20-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3019607843);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__logo-link {
  display: inline-block;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 50px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 25px;
}

.navbar__link {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  transition: 0.3s all linear;
}
.navbar__link:hover {
  color: #FF7D44;
}

.navbar__tel-wrapper {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 10px;
}

.navbar__tel-wrapper > a {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  transition: 0.3s all linear;
}
.navbar__tel-wrapper > a:hover {
  color: #FF7D44;
}

.site-hero {
  padding: 180px 0 93px 0;
  background-image: url(../../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  background-attachment: fixed;
}

.hero {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.hero__form {
  width: 449px;
  padding: 25px;
  background-color: rgba(58, 58, 58, 0.5019607843);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(30);
          backdrop-filter: blur(30);
}

.hero__form > h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 8px;
}

.hero__form > p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}

.hero__form--line1 {
  width: 100%;
  height: 1px;
  display: block;
  margin: 20px 0 25px;
  background-color: #E0E0E0;
}

.hero__form > label {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}

.hero__form-margin {
  margin-top: 0;
}

.hero__form > label > input {
  width: 100%;
  padding: 16px 5px 16px 40px;
  background-color: white;
  border-radius: 12px;
  border: none;
  outline: none;
}
.hero__form > label > input::-moz-placeholder {
  color: black;
}
.hero__form > label > input::placeholder {
  color: black;
}

.hero__form-input1 {
  background-image: url(../../images/location.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 10px center;
}

.hero__form-input2 {
  background-image: url(../../images/calendar.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 10px center;
}

.hero__content-wrapper {
  width: 505px;
  padding-top: 43px;
}

.hero__text {
  position: relative;
  padding-left: 34px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 11px;
}
.hero__text::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(../../images/star-icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

.her__title {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
}

.hero__subtext {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}

.form__radio-wrapper {
  margin-top: 8px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  align-items: start;
  justify-content: none;
  gap: 15px;
}

.form__strong {
  margin-top: 15px;
  display: block;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 8px;
}

.form__radio-lebal {
  width: 49%;
  padding: 15px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 12px;
}

.form__radio {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #D3D3D3;
  cursor: pointer;
}

.form__radio--inner {
  position: absolute;
  inset: 3px;
  border-radius: 50%;
}

.input-radio:checked ~ .form__radio > .form__radio--inner {
  background-color: #FF7D44;
}

.input-radio:checked ~ .form__radio {
  border-color: #FF7D44;
}

.form__radio-text {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 17px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}

.hero__form-btn {
  margin-top: 20px;
  transition: 0.3s all linear;
  text-align: center;
  width: 100%;
  padding: 17px 0;
  border: none;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #FF7D44;
  cursor: pointer;
  color: white;
  font-size: 17px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 0px;
}
.hero__form-btn:hover {
  background-color: transparent;
  color: #FF7D44;
  border-color: #FF7D44;
}

.service-section {
  padding: 118px 0 169px;
  background-image: url(../../images/service-bg1.png), url(../../images/service-bg2.png);
  background-repeat: no-repeat;
  background-size: 458px 860px;
  background-position: top left, right bottom;
}

.service__content-wrapper {
  text-align: center;
  margin-bottom: 96px;
}

.service__title {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 8px;
}

.service__text {
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
}

.service__list {
  display: flex;
  align-items: start;
  justify-content: none;
  gap: 9px;
  flex-wrap: wrap;
  row-gap: 15px;
}

.service__item {
  width: 354px;
  height: 465px;
  z-index: 5;
  position: relative;
  overflow: hidden;
  transition: 0.5s all;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 #000;
  cursor: pointer;
}
.service__item:hover > .service__img {
  height: 50%;
}
.service__item:hover > .service__hidden-content {
  bottom: 0;
}

.service__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s all;
}

.service__subcontent {
  padding: 20px;
  position: absolute;
  bottom: 0;
}

.service__subcontent > h3 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 15px;
}

.service__subcontent > a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 0px;
  padding-right: 25px;
  position: relative;
}
.service__subcontent > a::after {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  background-image: url(../../images/white-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.service__hidden-content {
  height: 50%;
  padding: 20px;
  position: absolute;
  bottom: -100%;
  background-color: white;
  transition: 0.4s all;
}

.service__hidden-content > h3 {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 10px;
}

.service__hidden-content > p {
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
}

.service__hidden-content > a {
  color: #FF7D44;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 0px;
  padding-right: 25px;
  position: relative;
  transition: 0.3s all linear;
}
.service__hidden-content > a:hover {
  color: #ed5d20;
}
.service__hidden-content > a::after {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  background-image: url(../../images/arrow-icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.pro-section {
  padding: 75px 0;
  background-image: url(../images/por-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.pro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.pro__content-wrapper {
  width: 300px;
}

.pro__content-wrapper > h2 {
  color: white;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.pro__content-wrapper > p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}

.pro__list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 50px;
}

.pro__item {
  width: 107px;
}

.count__img-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 15px;
}

.count__img-wrapper > img {
  margin: 0 auto;
}

.pro__item > strong {
  display: inline-block;
  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 8px;
}

.pro__item > p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 0px;
}

.frequently-section {
  padding: 80px 0 75px;
}

.frequently__content-wrapper {
  text-align: center;
  margin-bottom: 80px;
}

.frequently__content-wrapper > h2 {
  color: #182F43;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 15px;
}

.frequently__content-wrapper > h2 > span {
  color: #FF7D44;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}

.frequently__content-wrapper > p {
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
}

.frequently__list {
  width: 732px;
  margin: 0 auto;
}

.frequently__item {
  padding-bottom: 25px;
  border-bottom: 1px solid #D9D9D9;
  cursor: pointer;
}

.frequently__item + .frequently__item {
  margin-top: 25px;
}

.dropdown__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.dropdown__content > h2 {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}

.dropdown__line {
  width: 20px;
  height: 20px;
  position: relative;
}

.dropdown__plus {
  width: 20px;
  height: 2px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto 0;
  background-color: #3D3D3D;
  transition: all 0.3s linear;
}

.dropdown__plus:first-child {
  transform: rotate(90deg);
}

.dropdown__hide-wrapper {
  height: 0;
  opacity: 0;
  transition: 0.3s all ease;
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
}

.open {
  height: 98px;
  padding-top: 23px;
  opacity: 1;
}

.minus {
  transform: rotate(0) !important;
}

.about-section {
  padding: 100px;
}

.about {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 24px;
}

.about__content-wrapper:last-child {
  display: flex;
  flex-direction: column-reverse;
}

.about__content-wrapper:first-child > img {
  margin-top: 50px;
}

.about__content-wrapper:last-child > img {
  margin-bottom: 50px;
}

.about__content-wrapper:last-child > h2, .about__content-wrapper:last-child > p {
  margin-left: 26px;
}

.about__content-wrapper > h2 {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 16px;
}

.about__content-wrapper > h2 > span {
  color: #FF7D44;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}

.about__content-wrapper > p {
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.method-section {
  padding: 75px 0 194px;
  position: relative;
}
.method-section::after {
  content: "";
  width: 450px;
  height: 516px;
  position: absolute;
  bottom: 0;
  background-image: url(../../images/methed-bg2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.method-section::before {
  content: "";
  width: 450px;
  height: 112px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../../images/method-bg1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.methoed__title-wrapper {
  width: 798px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.methoed__title-wrapper > h2 {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 15px;
}

.methoed__title-wrapper > h2 > span {
  color: #FF7D44;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}

.methoed__title-wrapper > p {
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
}

.method__item + .method__item {
  margin-top: 50px;
}

.method__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.method__item:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.method__item-wrapper > h3 {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 15px;
}

.method__item-wrapper > p {
  color: rgba(0, 0, 0, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.method__item-wrapper > button {
  transition: 0.3s all linear;
  text-align: center;
  width: 259px;
  padding: 15px 0;
  border: none;
  border: 1px solid #FF7D44;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 0px;
}
.method__item-wrapper > button:hover {
  background-color: #FF7D44;
  color: rgba(0, 0, 0, 0.8705882353);
  border-color: #FF7D44;
}

.contact-section {
  padding: 80px 0;
  background-image: url(../../images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.contact {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.contact__content-wrapper {
  width: 449px;
  margin-top: 77px;
}

.contact__content-wrapper > h2 {
  color: white;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 16px;
}

.contact__content-wrapper > p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
}

.contact__list {
  margin-top: 38px;
}

.contact__item {
  width: 250px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 23px;
}

.tel__box > span {
  display: block;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 8px;
}

.tel__box > strong {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}

.contact__item-line {
  width: 260px;
  height: 1px;
  margin: 20px 0;
  background-color: #989898;
}

.contact__form {
  width: 543px;
  padding: 25px 30px;
  background-color: rgba(90, 90, 90, 0.5019607843);
  border-radius: 10px;
  -webkit-backdrop-filter: 30px;
          backdrop-filter: 30px;
}

.contact__form > h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}

.contact__form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact__form > label > span, .contact__input-wrapper > label > span {
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}

.contact__form > label > input, .contact__input-wrapper > label > input {
  width: 100%;
  padding: 14px 6px 14px 15px;
  background-color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}
.contact__form > label > input::-moz-placeholder, .contact__input-wrapper > label > input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3803921569);
}
.contact__form > label > input::placeholder, .contact__input-wrapper > label > input::placeholder {
  color: rgba(0, 0, 0, 0.3803921569);
}

.contact__input-wrapper {
  margin: 15px 0;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

.contact__input-wrapper > label > input {
  width: 236px;
  margin-top: 8px;
}

.contact__form-line {
  padding-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
}

.contact__form-line > textarea {
  padding: 15px 6px 60px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}
.contact__form-line > textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3803921569);
}
.contact__form-line > textarea::placeholder {
  color: rgba(0, 0, 0, 0.3803921569);
}

.contact__form > button {
  display: block;
  margin-top: 20px;
  transition: 0.3s all linear;
  text-align: center;
  width: 100%;
  padding: 17.5px 0;
  border: none;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #FF7D44;
  cursor: pointer;
  color: white;
  font-size: 17px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 0px;
}
.contact__form > button:hover {
  background-color: transparent;
  color: #FF7D44;
  border-color: #FF7D44;
}

.site-footer {
  padding: 50px 0;
  background-color: #282828;
}

.footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.footer__logo-link {
  display: inline-block;
}

.footer__text {
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.6784313725);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 54px;
}

.footer__subtext {
  color: rgba(255, 255, 255, 0.3803921569);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}

.footer__list {
  width: 635px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
}

.footer__item > strong {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
}

.footer__link {
  display: block;
  transition: 0.3s all linear;
  color: rgba(255, 255, 255, 0.6784313725);
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}
.footer__link:hover {
  color: #f48555;
}

.footer__link + .footer__link {
  margin-top: 12px;
}/*# sourceMappingURL=main.css.map */