// frequently section start  
.frequently-section {
    padding: 80px 0 75px;
}
.frequently__content-wrapper {
    text-align: center;
    margin-bottom: 80px;
}
.frequently__content-wrapper > h2{
    @include textStyle($CLR:#182F43, $FS:38px, $FW:700, $LH:100%, $MB:15px );
}
.frequently__content-wrapper > h2 > span{
    @include textStyle($CLR:#FF7D44, $FS:38px, $FW:700, $LH:100%, $MB:0px );
}
.frequently__content-wrapper > p{
    @include textStyle($CLR:#000000AD, $FS:16px, $FW:400, $LH:24px, $MB:0px );
}

.frequently__list {
    width: 732px;
    margin: 0 auto;
}
.frequently__item {
    padding-bottom: 25px;
    border-bottom: 1px solid #D9D9D9;
    cursor: pointer;
}
.frequently__item + .frequently__item{
    margin-top: 25px;
}
.dropdown__content{
    @include display($items:center, $justify:space-between, $gap:0px);
}
.dropdown__content > h2 {
    @include textStyle($CLR:#000000DE, $FS:18px, $FW:700, $LH:100%, $MB:0px );
}
.dropdown__line {
    width: 20px;
    height: 20px;
    position: relative;
}
.dropdown__plus {
    width: 20px;
    height: 2px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto 0;
    background-color: #3D3D3D;
    transition: all 0.3s linear;
}
.dropdown__plus:first-child {
    transform: rotate(90deg);
}
.dropdown__hide-wrapper{
    height: 0;
    opacity: 0;
    transition: 0.3s all ease;
    @include textStyle($CLR:#000000AD, $FS:16px, $FW:400, $LH:24px, $MB:0px );
}
.open{
    height: 98px;
    padding-top: 23px;
    opacity: 1;
}
.minus{
    transform: rotate(0) !important;
}