// service section start 
.service-section{
    padding: 118px 0 169px;
    background-image: url(../../images/service-bg1.png), url(../../images/service-bg2.png);
    background-repeat: no-repeat;
    background-size: 458px 860px;
    background-position: top left, right bottom;
}
.service__content-wrapper {
    text-align: center;
    margin-bottom: 96px;
}
.service__title {
    @include textStyle($CLR:#000000DE, $FS:38px, $FW:700, $LH:100%, $MB:8px );
}
.service__text {
    @include textStyle($CLR:#000000AD, $FS:16px, $FW:400, $LH:24px, $MB:0px );
}
.service__list {
    @include display($items:start, $justify:none, $gap:9px);
    flex-wrap: wrap;
    row-gap: 15px;
}
.service__item {
    width: 354px;
    height: 465px;
    z-index: 5;
    position: relative;
    overflow: hidden;
    transition: 0.5s all;
    border-radius: 7px;
    box-shadow: 0 0 5px 0  #000;
    cursor: pointer;
    
    &:hover > .service__img{
        height: 50%;
    }
    &:hover > .service__hidden-content{
        bottom: 0;
    }
}
.service__img {
    height: 100%;
    object-fit: cover;
    transition: 0.4s all;
}
.service__subcontent {
    padding: 20px;
    position: absolute;
    bottom: 0;
}
.service__subcontent > h3{
    @include textStyle($CLR:white, $FS:24px, $FW:700, $LH:100%, $MB:15px );
}
.service__subcontent > a{
    @include textStyle($CLR:white, $FS:15px, $FW:500, $LH:100%, $MB:0px );
    padding-right: 25px;
    position: relative;

    &::after{
        content: "";
        width: 26px;
        height: 26px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        background-image: url(../../images/white-arrow.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.service__hidden-content{
    height: 50%;
    padding: 20px;
    position: absolute;
    bottom: -100%;
    background-color: white;
    transition: 0.4s all ;
}
.service__hidden-content > h3{
    @include textStyle($CLR:#000000DE, $FS:24px, $FW:700, $LH:100%, $MB:10px );
}
.service__hidden-content > p{
    @include textStyle($CLR:#000000AD, $FS:14px, $FW:400, $LH:20px, $MB:15px );
}
.service__hidden-content > a{
    @include textStyle($CLR:#FF7D44, $FS:15px, $FW:500, $LH:100%, $MB:0px );
    padding-right: 25px;
    position: relative;
    transition: 0.3s all linear;

    &:hover{
        color: #ed5d20;
    }
    &::after{
        content: "";
        width: 26px;
        height: 26px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        background-image: url(../../images/arrow-icon.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}